body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-thumb {
    background-color: #ff6500; 
    border-radius: 6px;
}

body::-webkit-scrollbar-track {
    background-color: #EEEEEE; 
}

body.night::-webkit-scrollbar {
    width: 6px;
}

body.night::-webkit-scrollbar-thumb {
    background-color: #444; 
    border-radius: 6px;
}

body.night::-webkit-scrollbar-track {
    background-color: #333;
}